.contact-us {
  padding-top: 60px;
  padding-bottom: 28px;
}

.contact-us .section-heading {
  text-align: center;
  margin-bottom: 80px;
}

.section-heading h6 {
  font-size: 15px;
  font-weight: 700;
  color: #4da6e7;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.section-heading h4 {
  color: #2a2a2a;
  font-size: 35px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 25px;
}

.section-heading h4 em {
  font-style: normal;
  color: #4da6e7;
}

.contact-us .section-heading .line-dec {
  margin: 0 auto;
}

.section-heading .line-dec {
  width: 50px;
  height: 2px;
  background: #4da6e7;
}

.contact-us #contact {
  box-shadow: 0 0 15px rgb(0 0 0 / 10%);
  position: relative;
  background-color: #fff;
  border-radius: 23px;
  text-align: center;
}

.contact-dec img {
  max-width: 200px;
  position: absolute;
  right: 25px;
  top: -218px;
}

.contact-us #contact #map iframe {
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
  margin-bottom: -7px;
  position: relative;
  z-index: 2;
}

.fill-form {
  padding: 80px 38px 22px 15px;
}

.fill-form .info-post {
  margin-bottom: 20px;
}

.fill-form .info-post .icon {
  text-align: center;
  box-shadow: 0 0 15px rgb(0 0 0 / 10%);
  border-radius: 23px;
  padding: 25px 15px;
}

.fill-form .info-post .icon img {
  max-width: 60px;
  display: block;
  margin: 0 auto;
}

.fill-form .info-post .icon span {
  margin-top: 15px;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  color: #2a2a2a;
  transition: all 0.3s;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

.contact-us #contact input {
  width: 100%;
  height: 46px;
  background-color: transparent;
  border: 1px solid #eee;
  outline: none;
  font-size: 15px;
  font-weight: 300;
  color: #2a2a2a;
  padding: 0 20px;
  border-radius: 23px;
  margin-top: 30px;
}

.contact-us #contact input:focus,
.contact-us #contact textarea:focus {
  border: 2px solid #4da6e7;
}

.contact-us #contact textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  max-height: 200px;
  min-height: 200px;
  height: 200px;
  border-radius: 23px;
  background-color: transparent;
  border: 1px solid #eee;
  outline: none;
  font-size: 15px;
  font-weight: 300;
  color: #2a2a2a;
  padding: 15px 20px;
  margin-top: 30px;
}

.contact-us #contact button {
  display: inline-block;
  background-color: #fff;
  font-size: 15px;
  font-weight: 400;
  color: #4da6e7;
  margin-top: 30px;
  width: 100%;
  text-transform: capitalize;
  padding: 12px 25px;
  border-radius: 23px;
  letter-spacing: 0.25px;
  border: 1px solid #4da6e7;
  transition: all 0.3s;
  outline: none;
}