.faq-body {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100vw;
}

.faq-wrapper {
    background: rgb(226, 226, 226) no-repeat 1260% 65%;
    border-radius: 30px;
    height: 509px;
    width: 920px;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-gap: 6rem;
    margin: 90px 0;
}

.accordion__wrapper .questions__accordions {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.questions__accordions .questions-answer__accordions {
    width: 390px;
    border-bottom: 1px solid #e8e8ea;
}

.accordion__wrapper .title__accordion {
    font-size: 3rem;
    margin-top: 30px;
}

.questions-answer__accordions .question .title__question {
    font-weight: 400;
    font-size: 1.2rem;
    color: hsl(237, 12%, 33%);
    margin: 1.4rem 0;
}

.questions-answer__accordions .question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.questions-answer__accordions .question img {
    align-self: center;
    width: 4%;
}

.faq-wrapper .image__wrapper {
    position: relative;
}

.image__wrapper .image__wrapper-inner img {
    position: absolute;
    height: 70%;
    top: 10px;
    left: -16px;
}

.image__wrapper .image__wrapper-box {
    position: absolute;
    top: 40%;
    left: -27%;
    width: 50%;
}

.questions-answer__accordions .answer {
    display: none;
}

.questions-answer__accordions.active .answer {
    display: block;
    padding-bottom: 1.3rem;
    color: hsl(237, 12%, 33%);
    transition: all .3s ease-in;
    font-size: 13px;
}

.questions-answer__accordions.active .question img {
    transform: rotate(180deg);
    transition: all .3s ease-in;
}

.questions-answer__accordions.active .question h3 {
    font-weight: 700;
}

.questions-answer__accordions .question img {
    transform: rotate(0deg);
    transition: all .3s ease-in;
}