@media screen and (max-width: 770px) {
    table,
    tr,
    td {
        display: block;
        width: 100%;
    }

    td {
        display: flex;
    }

    td:first-child {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    td:not(:first-child) {
        clear: both;
        margin-left: 100px;
        padding: 4px 20px 4px 130px;
        position: relative;
        text-align: left;
    }
    td:not(:first-child):before {
        color: #398b93;
        content: "";
        display: block;
        left: 0;
        position: absolute;
        padding-right: 10px;
    }

    td:nth-child(2):before {
        content: "Username:";
    }
    td:nth-child(3):before {
        content: "Sex:";
    }
    td:nth-child(4):before {
        content: "Phone Number:";
    }
    td:nth-child(5):before {
        content: "Email:";
    }
    td:nth-child(6):before {
        content: "Role:";
    }
    td:nth-child(7):before {
        content: "Disabled:";
    }

    tr {
        padding: 10px 0;
        position: relative;
    }
    tr:first-child {
        display: none;
    }

    table tbody {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    td::before {
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 500;
    }
}